<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main.html}">

<section layout:fragment="content">

    <div class="row">

        <div class="col-sm">
            <div th:replace="memos/form :: partial"></div>
        </div>

        <div class="col-sm">
            <div class="col-lg-12">
                <form class="form" method="GET" th:action="@{/memos}">
                    <div class="input-group">
                        <input type="hidden" name="archived" th:value="${archived}">
                        <input type="text" class="form-control" name="labelFilter" placeholder="Labels"
                            th:value="${labelFilter}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success mb-2">Filter</button>
                        </span>
                    </div>
                </form>
            </div>
            <div th:replace="memos/list :: partial"></div>
        </div>

    </div>

    <script th:replace="fragments/bs :: notify"></script>
</section>

</html>